.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.resume-nav {
  border: 2px solid #00FFFF;
  border-radius: 20px;
  padding: 4px 14px !important;
  color: #00FFFF !important;
  transition: 0.3s;
}

.resume-nav:hover {
  background: #00FFFF;
  color: black !important;
}
.resume-btn:hover {
  background: #00FFFF;
  color: black;
}

.social-icon {
  color: #00FFFF;
  font-size: 28px;
  transition: 0.3s;
}

.social-icon:hover {
  color: white;
  transform: scale(1.2);
}

.resume-btn {
  display: inline-block;
  margin-top: 10px;
  background: transparent;
  border: 2px solid #00FFFF;
  color: #00FFFF;
  padding: 8px 22px;
  border-radius: 25px;
  transition: 0.3s;
  font-weight: 600;
  text-decoration: none;
}

.resume-btn:hover {
  background: #00FFFF;
  color: black;
}

.tech-badge {
  display: inline-block;
  padding: 6px 14px;
  margin: 5px 6px 0 0;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  background-color: #222121;
  color: rgb(251, 250, 250);
}

.portfolio-card {
  background-color: #3d3a3a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  transition: 0.3s;
}

.portfolio-card:hover {
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
  border-color: #00FFFF;
}
/*web-link button*/
.project-link {
  color: #00FFFF;
  font-size: 18px;
  transition: 0.3s ease;
  text-decoration: none;
}

.project-link:hover {
  color: white;
  transform: scale(1.2);
}

.cyan-text {
  color: #00FFFF;
}

.contact-box {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.custom-input {
    background-color: transparent !important;
    border: 1px solid white !important;
    color: white !important;
}

.custom-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.custom-input:focus {
    background-color: transparent;
    color: white;
    box-shadow: none;
    border: 1px solid #00FFFF !important;
    text-align: center;
}

.custom-send-btn {
    background-color: #6C757D;
    color: #00FFFF;
    border: 1px solid white;
    font-weight: 600;
    transition: 0.3s ease;
}

.custom-send-btn:hover {
    background-color: #00FFFF;
    color: rgb(118, 115, 115);
    border: 1px solid #00FFFF;
}

.footer-line {
    border: none;
    height: 2px;
    background-color: white;
    width: 100%;
    margin: 0;
}

.social-icons a {
    color: #00FFFF;
    font-size: 26px;
    transition: 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: white;
}

.custom-footer {
  background-color: #222124;
}